<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width-device-width,initial-scale=1.0" />
        @Styles.Render("~/Content/css")
        @*<link href="~/Design/css/bootstrap.css" rel="stylesheet" />*@
</head>
<body>
<div class="container">
<div id="nav navbar-inverse">

<ul class="nav navbar-nav">
<li>@Html.ActionLink("Home", "Index", new { area = "", Controller = "Home" })</li>
<li>@Html.ActionLink("About", "About", new { area = "", Controller = "Home" })</li>
<li>@Html.ActionLink("Contact", "Contact", new { area = "", Controller = "Home" })</li>
    <li>@Html.ActionLink("Admin", "Index", new { area = "Admin", Controller = "Home" })</li>
    <li>@Html.ActionLink("Hr", "Index", new { area = "Hr", Controller = "Default" })</li>
</ul>
</div>
@RenderBody()
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
