<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width-device-width,initial-scale=1.0" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
<div class="container">
<div id="nav navbar-inverse">

<ul class="nav navbar-nav">
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
</div>
@RenderBody()
</div>
    @Scripts.Render("~/Design/js/jquery.1.23.1.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
