@model NewMvcPractice.Models.Employees
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Details</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.DisplayNameFor(m => m.EmployeeId)
        @Html.TextBoxFor(m => m.EmployeeId, new { @readonly = true })
    </p>
    <p>
        @Html.DisplayNameFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </p>
    <p>
        @Html.DisplayNameFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </p>
    <p>
        @Html.DisplayNameFor(m => m.Mobile)
        @Html.TextBoxFor(m => m.Mobile)
    </p>
    <p>
        <input type="submit" value="Update Record" />
    </p>
}
